<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Weather Today</title>
</head>
<body class="bg"> 
<div class="main">
<h1> Get Today's Weather Report!</h1>
<form action="/fetch" method="post">
    <label for="title" id="title">Enter the city name</label><br>
    <input type="text" id="city" name="city_name"><br>
    <input type="submit" value="Submit" id="submit_bt">
</form>
<div>
<h3>{{ city }}</h3>
<h3>{{ temp }}</h3>
<h3>{{ details }}</h3>
</div>
</div>
</body>
</html>